@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

img {
  overflow: hidden;
  max-width: 100%; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

* {
  font-family: "Roboto", sans-serif; }

.heading {
  font-family: "Roboto", sans-serif; }
  .heading__primary {
    font-size: 1.8rem; }
