.about {
	&__section:first-of-type {
		background-color: $color-primary-dark;
		color: $color-primary-light;
		margin-bottom: 0;
		padding: 6rem 1rem 5rem 1rem;
	}

	&__section {
		margin-bottom: 3rem;
	}

	&__image {
		max-width: 100vw;
		height: auto;
		overflow: hidden;
	}

	&__text {
		font-size: 1.2rem;
		font-weight: 400;
		color: $color-black;
		margin-bottom: 1rem;
		padding: 0 1rem;
	}
}
