.about {
	margin-bottom: 6rem;

	&__section:first-of-type {
		background: linear-gradient(to bottom right, #40575ce3, #486268be),
			url("/assets/forest.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		margin-bottom: 0;
		padding: 6rem 1rem 5rem 1rem;
	}

	&__section {
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__image {
		max-width: 40rem;
		margin: 0 auto;
		height: auto;
		overflow: hidden;
	}

	&__text {
		margin-bottom: 1rem;
		padding: 0 1rem;
	}
}
