.content {
	margin-bottom: 6rem;

	&__section:first-of-type {
		background-color: $color-primary-dark;
		color: $color-primary-light;
		margin-bottom: 0;
		padding: 6rem 1rem 5rem 1rem;
		margin-bottom: 3rem;
	}

	&__section {
		margin-bottom: 3rem;
		padding: 0 1rem;
	}

	&__text {
		margin-bottom: 2rem;
		font-size: 1.2rem;
		color: $color-black;
	}

	&__divider {
		max-width: 15rem;
		height: 2px;
		background-color: $color-primary;
		margin: 1.5rem auto;
		opacity: 0.5;
	}

	&__spacing {
		margin: 4rem 0;
		height: 4rem;
		background-color: $color-primary;
	}
}
