.content {
	margin-bottom: 6rem;

	&__section {
		margin-bottom: 3rem;
		padding: 0 1rem;
	}

	&__part {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		margin-bottom: 2rem;
	}

	&__divider {
		max-width: 15rem;
		height: 2px;
		background-color: $color-primary;
		margin: 1.5rem auto;
		opacity: 0.5;
	}

	&__spacing {
		margin: 4rem 0;
		height: 4rem;
		background-color: $color-primary;
	}
}
