.offer {
	margin-bottom: 6rem;

	&__section:first-of-type {
		padding: 6rem 1rem 5rem 1rem;
		background-color: $color-primary-dark;
		margin-bottom: 0;
	}

	&__section {
		margin-bottom: 2rem;
	}

	&__item,
	&__price {
		font-size: 1.2rem;
		padding: 0 1rem;
		margin-bottom: 1rem;
	}

	&__item {
		list-style-type: none;
		margin-left: 2.5rem;

		&::before {
			content: "\1F9E1";
			margin-left: -30px;
		}
	}

	&__price {
		width: 14rem;
		max-width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	&__divider {
		max-width: 15rem;
		height: 2px;
		background-color: $color-primary;
		margin: 1.5rem auto;
		opacity: 0.5;
	}

	strong {
		font-weight: 700;
	}
}
