.offer {
	margin-bottom: 6rem;

	&__section {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__item,
	&__price,
	&__text {
		padding: 0 1rem;
	}

	&__price {
		max-width: 15rem;
		text-align: center;
		margin: 0 auto;
	}

	&__discount {
		font-weight: bold;
		color: rgb(190, 19, 19);
	}

	&__divider {
		max-width: 15rem;
		height: 2px;
		background-color: $color-primary;
		margin: 1.5rem auto;
		opacity: 0.5;
	}

	&__countdown {
		padding: 3rem 0;
		background-color: $color-primary-dark;
		margin-bottom: 3rem;

		& img {
			margin: 0 auto;
		}
	}

	strong {
		font-weight: 700;
	}
}
