.presentation {
	margin-bottom: 6rem;

	&__section {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__image {
		max-width: 30rem;
		border-radius: 50%;
		padding: 3rem;
		margin: 0 auto;
	}

	&__text {
		margin-bottom: 1rem;
		padding: 0 1rem;
	}
}
