@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
	font-family: $font-primary;
}

.heading {
	font-family: $font-primary;
	&__primary {
		font-size: 1.8rem;
	}
}
