@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
	font-family: $font-primary;
	line-height: 1.5;
}

strong {
	font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-black;
}

p,
li,
a {
	font-size: 1.2rem;
}

.heading {
	&__primary,
	&__secondary,
	&__tertiary {
		text-align: center;
		font-family: $font-primary;
		font-weight: 700;
		width: 100%;
		max-width: 50rem;
		margin: 0 auto;
	}

	&__primary {
		font-size: 3rem;
		letter-spacing: -1px;
		position: relative;

		&::before {
			content: "";
			width: 4rem;
			height: 2px;
			background-color: $color-primary;
			opacity: 0.5;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -0.5rem;
		}
		&::after {
			content: "";
			width: 4rem;
			height: 2px;
			background-color: $color-primary;
			opacity: 0.5;
			position: absolute;
			bottom: -0.5rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__secondary {
		color: #557e73;
		text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 2rem;
		margin-bottom: 2rem;
		margin-top: 4rem;
	}

	&__tertiary {
		color: $color-primary-dark;
		font-size: 1.5rem;
		letter-spacing: 0.25px;
		margin-bottom: 1.5rem;
		margin-top: 3rem;
	}

	&__primary--light,
	&__secondary--light,
	&__tertiary--light {
		color: $color-primary-light;
	}
}
